<div class="news" style="display: block !important; visibility: visible !important; opacity: 1 !important;">
  {% assign news = site.news | reverse %}
  {% if news.size > 0 %}
    <div class="table-responsive" style="display: block !important; visibility: visible !important;">
      <table class="table table-sm table-borderless">
        {% for item in news limit: 10 %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news items found.</p>
  {% endif %}
</div>
